<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link href="{{ url_for('static', path='front/css/room.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="search">
            <input type="text" placeholder="искать">
            <div class="button">
                сортировка по...
            </div>
            <div class="button">
                сначала новые...
            </div>
        </div>
        <div class="table">
            <div class="names">
                картинка  (ссылка на ред/уд)  /   диагноз   (ссылка на рекомендации)   / дата | мб кнопки (уд.....)
            </div>

            <div class="result">

            </div>
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div> 
            <div class="result">

            </div>
        </div>
        <div class="nav">
            <div class="button">

            </div>
            <div class="panel">
                <!-- <p> -->
                    1001 / 2003
                <!-- </p> -->
            </div>
            <div class="button">
                
            </div>
        </div>
    </div>
</body>
</html>